/* Scroll bar */
.os-scrollbar-handle{
  background: rgba(117, 117, 117, 0.753) !important; 
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(168, 168, 168);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #00AEEF;
}

/* Page */
html, body{
  overflow-x: hidden;
  letter-spacing: 0.04em;
  font-family: 'Roboto';
}

#page{
  background-color: black;
  position: relative;
}

#Hero{
  height: 100vh;
  position: sticky !important;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1900px) {  
  html{
    font-size: 14px;
  }
}

@media only screen and (max-width: 1400px) {  
  html{
    font-size: 12px;
  }
}

@media only screen and (max-width: 1400px) {  
  html{
    font-size: 12px;
  }
}

.no-scroll{
  height: 100vh;
  overflow: hidden;
}


header{  
  padding: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 250ms;
}


.bg{
  padding: .8rem;
  padding-top: calc(.8rem + 3px);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: rgba(7, 6, 6, 0.863);
  backdrop-filter: blur(10px);
}

nav{
  display: flex;
  align-items: center;

}

header nav .logo{
  margin-right: auto;
}

header nav .logo img{
  max-height: 3rem;
}

header nav ul{
  margin: 0;
  list-style: none;
  text-transform: uppercase;
}

header nav ul li {
  display: inline-block;
  margin-right: 4rem;
  position: relative;
}

header nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
}

header nav ul li a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: white;
  width: 100%;
  height: 1px;
 
  transform: scaleX(0);
  transform-origin: right;
  transition: transform ease-in-out 280ms;
}

header nav ul li a:hover::after, header nav ul li a:hover{
  color: white;

  transform: scaleX(100%);
  transform-origin: left;
}



/*----Hamburger button------*/

.x-btn{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;  
}

.x-btn:hover > .h-menu {
  color: hsl(0 0% 60%);
}

.h-menu {
  width: 25px;
  height: 3px;
  background-color: currentColor;
  position: relative;
  color: white;

  transition: all linear 200ms;
}

.h-menu::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: currentColor;
  top: -11px;

  transform-origin: bottom left;
  transition: width ease-in 200ms;
  transition: transform ease-out 200ms;
}

.h-menu::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: currentColor;
  bottom: -11px;

  transform-origin: top left;
  transition: width ease-in 200ms;
  transition: transform ease-out 200ms;
}

.clicked > .h-menu {    
  background-color: rgba(255, 255, 255, 0);
}

.clicked > .h-menu::before{
  width: 30px;
  transform: rotate(45deg);
}

.clicked > .h-menu::after {
  width: 30px;
  transform: rotate(-45deg);
}

/* Services */
.Other{
  position: relative;
  width: 100%;
  background-color: #ddd6cc;
  display: grid;
  grid-template-rows: auto auto;
}

.section-header{
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: black;
  color: white;
  padding: 1rem 2.5rem 1rem 2.5rem;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: .3em;
  text-transform: uppercase;
}

.content-eg{
  font-size: 2rem;
  padding: 2rem;
}

/* Swiper & Slides*/
.swiper-container{
  font-family: 'Roboto';
  height: 100%;
}

swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-color: rgba(0, 0, 0, 0); 
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.swiper-slide h1 {
  color: white;
  max-width: 50rem;
  text-align: center;
  margin: 2rem;
  font-size: 4rem;
  font-weight: 500;
}

.swiper-slide p {
  color: white;
  max-width: 50rem;
  margin: 2rem;
  text-align: center;
  font-weight: 100;
  font-size: 1.3rem;
  line-height: 160%;
}

.swiper-slide div{  
  margin: 2rem;
  margin-top: 3rem;
}

.swiper-pagination-bullets{
  margin-bottom: 1rem;
}

.swiper-pagination-bullet{
  background-color: white !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.swiper-button-next, .swiper-button-prev{
  color: white !important;
}

.btn-contact{
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  font-weight: 100;
  border: 1px solid white;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
  padding: .5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: .5rem;
  transform-origin: center;
  transition: all ease-in-out 300ms;
  display: inline-block;
}

.btn-contact:hover{
  transform: scale(1.03);
}

.btn-customerportal{
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
  font-weight: 100;
  border: 1px solid white;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  padding: .5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: .5rem;
  transition: all ease-in-out 300ms;
  display: inline-block;
}

.btn-customerportal:hover{
  transform: scale(1.03);
}

.services{
  display: flex;
  position: relative;
}

.service-card{
  width: 10vw;
  height: 20rem;
  background-color: rgba(204, 204, 204, 0.226); 
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;

  border-radius: 2px;
  transition: all ease-out 300ms;
}

.service-card h1{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin: .5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.service-card img{
  padding: 2rem;
  margin-bottom: auto;
}

.service-card .vm{
  margin-top: auto;
  margin-bottom: .5rem;
  text-align: center;
  position: relative;

  transition: all ease-in-out 300ms;
}

.service-card .vm::after{
  content: "Veiw More";
  text-align: center;
  position: absolute;
  width: 100%;
  top: 2rem;
  left: 0;
  font-size: .8rem;
}

.service-card:hover{
  transform: scale(1.3);
}

.service-card:hover > .vm{
  transform: translateY(-2rem)
}

.infocard{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin: 0 !important;
  
  transition: all ease-in-out 300ms;
  transform: scale(0);
  z-index: -20;
}

.infocard div{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  background-color: #ddd6cc !important;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  border-radius: 2px;
}

.infocard div h1{
  background-color: black;
  font-weight: 100;
  font-size: 2rem;
  padding: 1.2rem;
  padding-left: 6rem;
  margin-top: 4rem;
  margin-left: 0;
  text-align: center;
  max-width: 100%;
  margin-right: auto;
}

.infocard div p{
  color: rgb(32, 32, 32);
  font-weight: 100;
  font-size: 1.7rem;
  margin: 3rem;
  width: 100%;
  max-width: 60rem;
}

.expanded{
  transform: scale(1);
  background-color: rgba(119, 119, 119, 0.2);
  backdrop-filter: blur(10px);
  z-index: 9999;
}
