:root {
    --black: black;
    --white: white;
    --light-grey: rgb(190, 190, 190);
    --dark-grey: rgb(7, 7, 7);
    --dark-grey-text: rgb(32, 32, 32);
    --syn-blue: #00AEEF;
    --beige: #dce3e9;
}

/* Page */
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    letter-spacing: 0.04em;
    font-family: 'Roboto';
}

::selection {
    background: var(--syn-blue);
}

#vanta {
  width: 100%;
  height: 100%;
}

#Hero {
    height: 100vh;
    position: sticky !important;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1900px) {  
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1400px) {  
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1000px) {  
    html {
        font-size: 9px;
    }
}

/* Nav */
header {  
    padding: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
}

nav {
    display: flex;
    align-items: center;
}

header nav .logo {
    margin-right: auto;
}

header nav .logo img {
    max-height: 3.5rem;
}

/* Hamburger */
.hamburger-react div{
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 29%, var(--white) 30%, var(--white) 70%, rgba(0, 0, 0, 0) 71%) !important;
}

/* Menu */
.menu {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -999;
    transition: opacity ease-out 200ms;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    text-align: center;
    padding: 1.2rem;
}

.menu ul li a {
    position: relative;
    color: var(--light-grey);
    font-size: 4rem;
    font-weight: 100;
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;

    transition: all ease-out 300ms;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    top: calc(100% - 1rem);
    background-color: currentColor;
    width: 100%;
    height: 2px;

    transition: all ease-out 300ms;
    transform-origin: center;
    transform: scaleX(0);
}

.menu ul li a:hover, .menu ul li a:hover::after {
    color: var(--white);
    transform: scaleX(1);
}

.menu ul li p {
    color: var(--light-grey);
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-open {
    z-index: 10;
    opacity: 1;
}

/* Contact Form */
input:-webkit-autofill { 
    background-clip: text;
}

.contact-form {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all ease-out 500ms;
    z-index: -999;
}

.click-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

form {
    position: relative;
    width: 30rem;
    height: 40rem;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transform: scale(0);
    transform-origin: center;
    transition: all ease-out 200ms;
}

form h1 {
    color: var(--black);
    font-weight: 100;
    font-size: 3rem;
    position: relative;
    align-self: center;
    text-transform: uppercase;
    margin: .5rem;
    margin-bottom: 0;
}

form div {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid var(--dark-grey);
    width: fit-content;
    padding: 2px;
    padding-left: .5rem;
    padding-right: .5rem;
    position: relative;
    width: 22rem;
}

form div::before, form div::after {
    content: "";
    position: absolute;
    background-color: var(--dark-grey);
    width: .1px;
    height: .8rem;
    left: 0;
    bottom: -1px;
}

form div::after {
    right: 0;
    left: auto;
}

label {
    color: white;
    font-weight: 100;
    font-size: 1.3rem;
    margin-right: 1rem;
    font-family: "Roboto";
}

input {
    color: var(--black);
    width: max-content;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    box-sizing: border-box;
    background-color: transparent;
    width: 100%;
    margin-left: 1rem;
}

select {
    width: 100%;
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    background-color: transparent;
    outline: none;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Roboto";
    padding: .2rem;
    border: 1px solid rgba(0, 0, 0, 0);
}

option {
    background-color: var(--beige);
    font-weight: 100;
    border: none;
    font-size: 1.3rem;
}

.error {
    position: absolute;
    margin: 0;
    text-align: left;
    font-size: .8rem;
    color: red;
    bottom: -1rem;
    left: 0;
}

textarea {
    color: var(--dark-grey);
    background-color: var(--beige);
    resize: none;
    height: 40rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: "Roboto";
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1.5rem;
    letter-spacing: .1rem;
}

button {
    margin-top: 1rem;
    padding: .8rem;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--dark-grey);
    color: var(var(--dark-grey));
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Roboto";
    letter-spacing: .5rem;
    width: 100%;

    transition: all 300ms ease-out;
}

button:hover {
    background-color: var(--dark-grey);
    color: var(--white);
}

.form-open {
    background-color: rgba(68, 68, 68, 0.2);
    backdrop-filter: blur(3px);
    z-index: 9999;
}

.form-open form {
    transform: scale(1);
    opacity: 1;
}

/* Swiper & Slides*/
.swiper-container {
    font-family: 'Roboto';
    height: 100%;
}

swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide { 
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5vh;
}

@media only screen and (max-width: 1000px) { 
    .container {
        gap: 2vh;
    }
}  

h1 {
    color: var(--syn-blue);
    max-width: 50rem;
    text-align: center;
    margin: 1rem;
    font-size: 5rem;
    font-weight: 100;
    text-transform: uppercase;
}

.swiper-slide p {
    color: var(--light-grey);
    max-width: 45rem;
    margin: 1rem;
    text-align: center;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 170%;
}

@media screen and (max-width: 1000px) {
    .swiper-slide p {
        font-size: 1.6rem;
    }
}

.swiper-pagination-bullets { 
    margin-bottom: 1rem;
}

.swiper-pagination-bullet {
    background-color: var(--white) !important;
    width: .8rem !important;
    height: .8rem !important;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
    position: relative;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--white) !important;
}

.btn-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-contact, .btn-customerportal {
    position: relative;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--black);
    font-weight: 300;
    border: 1px solid var(--syn-blue);
    border-radius: 1px;
    background-color: var(--syn-blue);
    padding: .6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: .5rem;
    text-transform: uppercase;
    
    transform-origin: center;
    transition: all ease-in-out 200ms;
}

.btn-customerportal {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--white);
    font-weight: 100;
}

.btn-contact:hover, .btn-customerportal:hover {
    box-shadow: var(--white) 0 0 25px -15px;
}

/* Services */
.services {   
    position: relative;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.service-card-v2 {
    width: 12vw;
    height: 25rem;
    max-width: 20rem;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    color: var(--white);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 0 !important;
    box-shadow: 0 0 1rem var(--black);
    border-radius: 1px;

    transition: all ease-out 300ms;
}

.service-card-v2 img {
    height: 100%;
    position: absolute; 
    left: -10rem;
    z-index: -1;
    filter: saturate(1.2);
    transition: all ease-out 300ms;
}

.service-card-v2 div {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgba(0, 0, 0, .8) 20%, rgba(0, 0, 0, .6) 70%, rgba(0, 0, 0, 0) 100%);
    transform: translateY(calc(100% - 8rem));

    transition: all ease-out 300ms;
}

.service-card-v2 h1{
    text-align: left;
    display: flex;
    align-items: flex-end;
    height: 5rem;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    position: relative;
    text-transform: uppercase;
    color: var(--white);
}

.service-card-v2 h1::after {
    content: "";
    background-color: currentColor;
    position: absolute;
    left: -1.5rem;
    top: calc(100% + .5rem);
    width: 100%;
    height: 2px;

    transform: scaleY(0);
    transform-origin: left;
    transition: all ease-out 300ms;  
}

.service-card-v2 p {
    margin: 1.5rem;
    font-size: 1.08rem;
    font-weight: 100;
    color: var(--white);
    text-align: left;
    margin-bottom: auto;
}

.service-card-v2 a {
    margin: 1.5rem;
    font-size: 1rem;
    margin-top: auto;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    position: relative;
    max-width: fit-content;
    color: var(--syn-blue);
}

.service-card-v2 div a::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: all ease-out 300ms;
}

.service-card-title-m {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);  
    align-items: center;
    justify-content: center;
}

.service-card-title-m h2{
    text-align: center;
    margin: 5rem;
}

@media only screen and (max-width: 1000px) {  
    .services {   
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5vw;
    }
}

@media only screen and (max-width: 550px) {  
    .services {   
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .service-card-v2 {
        width: 150px;
        height: 150px;
    }
    .service-card-v2 img {
        left: 0rem;
    }
    .service-card-v2 div {
        display: none;
    }
    .service-card-title-m {
        display: flex;
    }
}

@media only screen and (min-width: 550px) {

    .service-card-v2:hover h1::after {
        transform: scaleY(1);
    }

    .service-card-v2:hover > div a::after {
        transition-delay: 300ms;
        transition-property: transform;
        transform: scaleX(100%);
    }

    .service-card-v2:hover {
        transform: scale(1.08)
    }

    .service-card-v2:hover > div {
        transform: translateY(0%);
    }

    .service-card-v2:hover > img {
        transform: scale(1.2);
        filter: grayscale(100%);
    }
}

.infocard {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all ease-out 500ms;
    z-index: -20;
}

.infocard > div {
    position: relative;
    max-width: 1000px;
    background-color: var(--beige) !important;
    margin: 1rem;
    padding: 0;
    border-radius: 1px;
    opacity: 0;
    overflow: hidden;

    transform: scale(0);
    transform-origin: center;
    transition: all ease-out 200ms;
}

.info-card-container, .flip-card-back-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin: 2rem;
    position: relative;
}

.infocard h1, .flip-card-back h1 {
    position: relative;
    text-align: left;
    color: var(--black);
    font-weight: 100;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    isolation: isolate;
}

.infocard p, .flip-card-back p {
    max-width: 100%;
    text-align: left;
    color: var(--dark-grey-text);
    font-weight: 300;
    font-size: 1.8rem;
    width: 100%;
    margin: 2rem 0;
    padding-top: 2rem;
    border-top: 2px solid var(--dark-grey-text);
    white-space: pre-line;
}

@media only screen and (max-width: 1000px) {  
    .infocard h1 {
        font-size: 2.5rem;
    }
    
    .infocard p {
        font-size: 2rem;
    }
}

.expanded {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    z-index: 9999;
}

.expanded div {
    transform: scale(1);
    opacity: 1;
}

/* About Us */
.about-us {
    display: flex;
    position: relative;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flip-card {   
    width: 40rem;
    height: 30rem;
    background: transparent;
    transition: all ease-in-out 500ms;

    perspective: 1000px;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 !important;

    transition: all ease-in-out 500ms;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    border-radius: 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
}

.flip-card-front {
    align-items: center;
    isolation: isolate;
}

.flip-card-front::after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .6) 100%);
    inset: 0;
    z-index: -1;
}

.flip-card-front img {
    position: absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}

.flip-card-front h1 {
    margin: 1rem;
    margin-top: auto;
    color: white;
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
}

.flip-card-back {
    background-color: var(--beige);
    transform: rotateY(180deg);
}

.flipcard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.flipcard-header a {
    position: relative;
    margin-left: auto;
    text-decoration: none;
    color: var(--syn-blue);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.flipcard-header a::after {
    content: "";
    position: absolute;
    bottom: -.4rem;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--syn-blue);

    transform-origin: center;
    transform: scaleX(0);
    transition: all 300ms ease-out;
}

.flip-card:hover > .flip-card-inner {
    transform: rotateY(-180deg);
}

.flip-card:hover .flipcard-header a::after {
    transform: scaleX(1);
    transition: all 300ms ease-out 500ms;
}

@media only screen and (max-width: 1000px) {  
    .flip-card {   
        width: 90vw;
    }
}

/* Customer Quotes */
.quotes {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 3.5vw;
    height: 30rem;
}

.customer-quote {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 28rem;
    transition: all 300ms ease-out;
}

.up-arrow{
    position: absolute;
    width: 2rem;
    height: 1.2rem;
    bottom: .4rem;
    left: calc(50% -1rem);

    transition: all 300ms linear 300ms;
}

@media only screen and (max-width: 1200px) {  
    .quotes {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        height: fit-content;
    }

    .customer-quote {
        margin: -1rem;
    }
}

.quote-head {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    position: relative;
    display: flex;
    width: 28rem;
    height: 14rem;
    background-color: var(--beige);    
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;  
    transition: all ease-out 300ms;
}

.company-logo {
    height: 6rem;
    margin: 2rem;
    width: fit-content;
}

.profile {
    position: absolute;
    height: 6rem;
    bottom: -4rem;
    background-color: var(--beige);
    border-radius: 50%;
    border: 1rem solid var(--beige);
}

.quote-body {
    border-radius: 1px;
    margin-top: -13rem;
    height: 19rem;
    background-color: var(--dark-grey);
    
    transform: scaleY(1);
    transform-origin: top;
    transition: all ease-out 300ms;
}

.quote-body div { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;  
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 

    transition: all 80ms linear 0ms;
}

.quote-body .quote {
    margin: 2.5rem;
    margin-top: 4rem;
    margin-bottom: auto;
    font-size: 1rem;
    font-weight: 300;
    color: var(--light-grey);
    position: relative;
    isolation: isolate;
    font-style: italic;
}

.quote-body .quote::before, .quote-body .quote::after {
    content: '"';
    color: var(--syn-blue);
    font-size: 5rem;
    position: absolute;
    opacity: .4;
    left: 0;
    top: 0;
}

.quote-body .quote::after {
    left: auto;
    top: auto;
    bottom: -2rem;
    right: 0;
}

.quote-body .name {
    margin-top: auto;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white);
}

.quote-body .title {
    margin: 1rem;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 100;
    color: var(--light-grey);
}

@media only screen and (max-width: 1200px) {  
    .customer-quote {
        transform: scale(.8);
        transition: all 150ms ease-out;
    }
    
    .customer-quote > .quote-head{
        transition: all 150ms ease-out;
    }
    
    .customer-quote > .quote-body{
        transition: all 150ms ease-out;
    }
    
    .customer-quote > .quote-body > div{
        transition: all 150ms ease-out 0ms;
    }
}


/* quote hover effects */
.customer-quote:hover > .up-arrow{
    opacity: 0;
    transition: all 100ms linear 0ms;
}

.customer-quote:hover > .quote-head{
    transform: translateY(-10rem) scale(.6);
}

.customer-quote:hover > .quote-body{
    transform: translateY(3rem) scale(1.2);
}

.customer-quote:hover > .quote-body > div{
    opacity: 1;
    transition: all 300ms ease-in 300ms;
}

#q1 {
    z-index: 2;
}

@media only screen and (max-width: 1200px) {  
    .customer-quote:hover > .quote-head{
        transform: translateY(-10rem) scale(1);
    }
    .customer-quote:hover {
        z-index: 5;
        transform: scale(1.2);
    }

    #q1:hover{
        transform: translateY(80%) scale(1.2);
    }

    #q3:hover{
        transform: translateY(-80%) scale(1.2);
    }
}


/* Careers */
.why-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 5rem;
}

.why-container img {
    height: 22rem;
}

.border {
    height: 22rem;
    box-shadow: -5px 5px var(--white);
    position: relative;
}

.border::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--white);
}

.values-box {
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    padding: 1rem;
    gap: 1rem;
}


.values-box a {
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 1.8rem 1rem;
}

.values-box div a p {
    padding: 0;
    margin: 0;
    text-align: right;
    position: relative;
    font-weight: 100;
}


.values-box div a b {
  color: var(--syn-blue);
}

.values-box p {
    width: 22rem;
    margin: 1rem;
    text-align: left;
    color: var(--light-grey);
}

@media screen and (max-width: 500px) {
    .values-box {
        width: 36rem;
    }

    .values-box p {
        width: 20rem;
    }
    .values-box div {
        width: 16rem;
    }
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vid {
    width: 80vw;
    max-width: 60rem;
}